body{
  background-color: #303d38;
}

.mainDiv {
  text-align: center;
  color: #1dbf81
}

.submitNames {
  margin: 10;
  padding: 10;
}

.namesList {
  text-align: center;
}

.listedName{
  position:relative;
  color: white;
  border-radius: 25px;
  height: 40px;
  background-color: #088052;
  margin: 10px;
  width: 400px;
  text-align: center;
}

.listedName .nameText {
  font-size: 30px;
  margin-right: 10px;
}

.listedName .dismissButton {
  background-color: #4d5c56;
  border-radius: 8px;
  color: white;
  font-size: 20px;
}

.listedName .dismissButton:hover {
  background-color: #303d38;
}