body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303d38;
}

.mainDiv {
  text-align: center;
  color: #1dbf81
}

.submitNames {
  margin: 10;
  padding: 10;
}

.box {
  width: 300px;
}

.box h2 {
  color: #fff;
  background: #196e4c;
  padding: 10px 20px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box .nameList {
  position: relative;
  background: white;
}

.box .enteredNames {
  list-style: none;
  font-size: 18px;
  padding: 10px;
  width:94%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
  transition: transform 0.5s;
}

.dismissButton {
  display: none;
  width: 20%;
  margin-left: 20px;
  box-shadow: 0;
  border-style: solid;
  background: transparent;
  border-color: transparent;
  color: #196e4c;
}

.dismissButton:hover > svg > g{
  fill: white;
  stroke: white;
}

.box .enteredNames:hover .dismissButton {
  display: inline-block;
}
.box .enteredNames:hover{
  transform: scale(1.1);
  z-index: 100;
  background:#1dbf81;
  color: #fff;
}

#pickName {
  margin-top: 50px;
  box-shadow: 0;
  border-style: solid;
  background: #fff;
  border-color: transparent;
  border-radius: 10px;
  border-width: 3px;
  color: #196e4c;
  font-size: 20px;
}

#pickName:hover {
  border-color: #196e4c;
}

.selection {
  font-size: 20px;
  color: #fff;

}
